body {
  padding: 0;
  margin: 0;
  background-color: darkslateblue;
  color: white;
  overflow-x: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.character {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.character img {
  width: 5.5%;
  min-width: 60px;
}

.side-job {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.side-job img {
  height: 50px;
}

.sect, .job {
  width: 50%;
  display: inline;
}

.sect {
  padding-left: 15px;
  display: flex;
  justify-content: start;
  text-align: left;
}

.job {
  padding-right: 15px;
  justify-content: end;
  display: flex;
  text-align: right;
}

.display {
  width: 100%;
  display: flex;
  align-content:last baseline;
}

.selection {
  padding: 5px;
}

.character-name {
  text-align: center;
  margin-bottom: 0;
}

.pool-display {
  /* padding: 0 5px; */
  width: 100%;
  display: flex;
  align-content: last baseline;
}

.pool-total, .current-pool {
  width: 15%;
  text-align: center;
}

.phase-control {
  width: 100%;
  text-align: center;
  /* grid-template-columns: auto auto auto; */
}

.pool-total, .phase-control, .current-pool {
  display: inline;
}

.inline {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.meditation, .foundation, .virtuoso, .immortality, .incarnation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.counter-display {
  width: 6%;
  text-align: center;
  min-width: 80px;
}

.card-image {
  width: 100%;
}

.card-primary {
  /* width: 19%; */
  width: 14%;
  background-color: rgb(141, 133, 194);
  border-radius: 5px;
  padding: 1rem;
  padding-top: 0;
  text-align: center;
  margin: 1rem 0;
}

.subsection {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.selected-character {
  border-image: url('../assets/selected-border.png');
}

@media only screen and (max-width: 800px) {
  .card-primary {
    width: 40%;
  }
}

@media only screen and (max-width: 1500px) {
  .card-primary {
    width: 30%;
  }
}
