body {
  padding: 0;
  margin: 0;
  background-color: darkslateblue;
  color: white;
  overflow-x: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.character {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.character img {
  width: 5.5%;
  min-width: 60px;
}

.side-job {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.side-job img {
  height: 50px;
}

.sect, .job {
  width: 50%;
  display: inline;
}

.sect {
  padding-left: 15px;
  display: flex;
  justify-content: start;
}

.job {
  padding-right: 15px;
  justify-content: end;
  display: flex;
}

.display {
  width: 100%;
  display: flex;
  align-content:last baseline;
}

.selection {
  padding: 5px;
}

.character-name {
  text-align: center;
  margin-bottom: 0;
}

.pool-display {
  /* padding: 0 5px; */
  width: 100%;
  display: flex;
  align-content: last baseline;
}

.pool-total, .current-pool {
  width: 15%;
  text-align: center;
}

.phase-control {
  width: 70%;
  text-align: center;
}

.pool-total, .phase-control, .current-pool {
  display: inline;
}

.inline {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.meditation, .foundation, .virtuoso, .immortality, .incarnation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.counter-display {
  width: 20%;
  text-align: center;
  min-width: 150px;
}

.card-image {
  width: 90%;
}